<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gis_server.mapper.FriendMapper">
  <resultMap id="BaseResultMap" type="com.gis_server.pojo.Friend">
    <constructor>
      <idArg column="F_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="F_FirendID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="F_UserID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="F_Name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="F_FriendTypeID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="F_FriendGroupsID" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    F_ID, F_FirendID, F_UserID, F_Name, F_FriendTypeID, F_FriendGroupsID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from friends
    where F_ID = #{fId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.String" resultType="com.gis_server.dto.UserDto">
    select sys_user.*, friends.F_FriendGroupsID
    from friends
    join sys_user
    on F_FirendID=U_LoginID
    where F_UserID=#{uLoginId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from friends
    where F_ID = #{fId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gis_server.pojo.Friend">
    insert into friends (F_ID, F_FirendID, F_UserID,
      F_Name, F_FriendTypeID, F_FriendGroupsID
      )
    values (#{fId,jdbcType=INTEGER}, #{fFirendid,jdbcType=VARCHAR}, #{fUserid,jdbcType=VARCHAR},
      #{fName,jdbcType=VARCHAR}, #{fFriendtypeid,jdbcType=INTEGER}, #{fFriendgroupsid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gis_server.pojo.Friend">
    insert into friends
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        F_ID,
      </if>
      <if test="fFirendid != null">
        F_FirendID,
      </if>
      <if test="fUserid != null">
        F_UserID,
      </if>
      <if test="fName != null">
        F_Name,
      </if>
      <if test="fFriendtypeid != null">
        F_FriendTypeID,
      </if>
      <if test="fFriendgroupsid != null">
        F_FriendGroupsID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=INTEGER},
      </if>
      <if test="fFirendid != null">
        #{fFirendid,jdbcType=VARCHAR},
      </if>
      <if test="fUserid != null">
        #{fUserid,jdbcType=VARCHAR},
      </if>
      <if test="fName != null">
        #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fFriendtypeid != null">
        #{fFriendtypeid,jdbcType=INTEGER},
      </if>
      <if test="fFriendgroupsid != null">
        #{fFriendgroupsid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gis_server.pojo.Friend">
    update friends
    <set>
      <if test="fFirendid != null">
        F_FirendID = #{fFirendid,jdbcType=VARCHAR},
      </if>
      <if test="fUserid != null">
        F_UserID = #{fUserid,jdbcType=VARCHAR},
      </if>
      <if test="fName != null">
        F_Name = #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fFriendtypeid != null">
        F_FriendTypeID = #{fFriendtypeid,jdbcType=INTEGER},
      </if>
      <if test="fFriendgroupsid != null">
        F_FriendGroupsID = #{fFriendgroupsid,jdbcType=INTEGER},
      </if>
    </set>
    where F_ID = #{fId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gis_server.pojo.Friend">
    update friends
    set F_FirendID = #{fFirendid,jdbcType=VARCHAR},
      F_UserID = #{fUserid,jdbcType=VARCHAR},
      F_Name = #{fName,jdbcType=VARCHAR},
      F_FriendTypeID = #{fFriendtypeid,jdbcType=INTEGER},
      F_FriendGroupsID = #{fFriendgroupsid,jdbcType=INTEGER}
    where F_ID = #{fId,jdbcType=INTEGER}
  </update>
</mapper>
